/* common styles */
body {
    background: #DDDDDD;
}

.main_center {
    text-align: center;
}

header {
    font-size: 40px;
    text-align: center; /* new */
    text-shadow: 5px 5px 5px #777777;
}

.hr_color {
    color: #FFFF00;
}

/* css for search */
#search {
   position: absolute;
   top: 10px;
   right: 28px;
   height: 50px;
   line-height: 50px;
}

#search input.text {
   padding: 10px 40px 10px 10px;
   background: rgba(222, 231, 250, 1) url(/static/event/search.png) top right no-repeat;
   color: black;
   width: 200px;
   border: solid 1px #3c3c3c;
}
#search .search-button{
   padding: 10px 40px 10px 10px;
   background: rgba(222, 231, 250, 1) url(/static/event/search.png) top right no-repeat;
   color: black;
   width: 200px;
   border: solid 1px #3c3c3c;
}

#search_radius {
    border-radius: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: -3px;
    /*
    margin-right: 10px;
    margin-left: 10px;
    */
    border: solid 2px red; /* was: #4432a8 */ 
    padding: 10px;
}

.last-item{
    float: right;
    margin-right: 40px;
}

/* home.html */
.user_hello {
    font-size: 32px;
    padding-bottom: 15px;
}

.welcome {
    font-size: 32px;
    text-shadow: 3px 3px 3px #777777;
}

/* events.html */
.list-of-events {
    font-size: 32px;
    text-shadow: 3px 3px 3px #777777;
}

.navs_color {
    background-color: #FFFF66;
    border-radius: 10px;
}

#navs_color {
    background-color: #FFFF66;
    border-radius: 10px;
}

.list-of-users {
    font-size: 32px;
    text-shadow: 3px 3px 3px #777777;
}

.events-list ul {
    list-style: none;
}

/* event.html */
.event-descr {
    font-size: 20px;
    margin-bottom: 20px;
}

.event-page {        /* new */
    font-size: 20px; /* new */
}                    /* new */

.comment-form {
    margin-bottom: 20px;
}

input[type=text] {
    width: 400px;
}

input[type=submit] {
    width: 50px;
}

.comments-box {
}

.other-comment-body {
    background: white;
    width: 80%;
    border: solid 3px #4432a8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.my-comment {

}

.my-comment-info {
    font-size: 14px;
    width: 20%;
    margin-right: 0;
    margin-left: auto;
}

.my-comment-file {
    width: 50px;
    border: solid 2px #b81a51;
    margin-top: -15px;
    margin-right: 10px;
    margin-left: auto;
}

.other-comment-file {
    width: 50px;
    border: solid 2px #b81a51;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: auto;
}

.other-comment-info {
    font-size: 14px;
    width: 20%;
}

.comment-user {
    font-weight: bold;
}

.comment-time {
    font-style: italic;
}

.my-comment-body {
    background: white;
    width: 80%;
    border: solid 3px #b81a51;
    border-radius: 10px;
    padding: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: auto;
}

/* create_event.html */
.form-name {
    margin-bottom: 15px;
}

.label {
    width: 115px;
    float:left;
}

.submit {
    margin-left: 90px;
}

/* login.html */
.form-row {
    margin-bottom: 15px;
}

#warn {
   color: red;
}

#error_username_len {
    color: red;
}

.short_descr {
    color: red;
}

.error_date {
    color: red;
}

.empty_name {
    color: red;
}

.empty_descr {
    color: red;
}

.long_descr {
    color: red;
}

.create_event-file {
    width: 50px;
    /* border: solid 2px green; */
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    /* position: center; */
}
