/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/static/event/blurry.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex:
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #fff;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
#search {
   position: absolute;
   top: 250px;
   right: 28px;
   height: 50px;
   line-height: 50px;
}

#search input.text {
   padding: 10px 40px 10px 10px;
   background: rgba(222, 231, 250, 1) url(/static/event/search.png) top right no-repeat;
   color: black;
   width: 200px;
   border: solid 1px #3c3c3c;
}
#search .search-button{
   padding: 10px 40px 10px 10px;
   background: rgba(222, 231, 250, 1) url(/static/event/search.png) top right no-repeat;
   color: black;
   width: 200px;
   border: solid 1px #3c3c3c;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40 px;
    font-size: 14px;
    color: #fff;
}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 13 px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }
    .nav-links ul{
    padding: 30px;
    }
    .row{
    flex-direction: column;
    }
    .ratings-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .cta h1{
        font-size: 24px
    }
}
/* Events*/

.events-list{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.events-list ul{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


/* events by cities*/

.cities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.cities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.cities-col img{
    width: 100%;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left 0;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3 {
    width: 100px;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* ratings */

.ratings{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.ratings-col{
    flex-basis: 44%
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.ratings-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%
}

.ratings-col p{
    padding: 0;
}

.ratings-col h3{
    margin-top: 15px;
    text-align: left;
}
.ratings-col .fa{
    color: red;
}

/* cta */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/static/event/blurry.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* footer */

.footer{
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

}


.my-comment {

}

.my-comment-info {
    font-size: 14px;
    width: 20%;
    margin-right: 0;
    margin-left: auto;
}

.my-comment-file {
    width: 50px;
    border: solid 2px #b81a51;
    margin-top: -15px;
    margin-right: 10px;
    margin-left: auto;
}

.other-comment-file {
    width: 50px;
    border: solid 2px #b81a51;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: auto;
}

.other-comment-info {
    font-size: 14px;
    width: 20%;
}

.comment-user {
    font-weight: bold;
}

.comment-time {
    font-style: italic;
}

.my-comment-body {
    background: white;
    width: 80%;
    border: solid 3px #b81a51;
    border-radius: 10px;
    padding: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: auto;
}
*/


/* create_event.html */

/*
.form-name {
    margin-bottom: 15px;
}

.label {
    width: 115px;
    float:left;
}

.submit {
    margin-left: 90px;
}
*/


/* login.html */

/*
.form-row {
    margin-bottom: 15px;
}

# #warn {
   color: red;
}

.error_date {
    color: red;
}

.empty_name {
    color: red;
}

.empty_descr {
    color: red;
}

.short_descr {
    color: red;
}
*/