{% load static %}


<section class="header">
  <nav>
    <a href="{% url 'home' %}"><img src=" {% static 'event/LOGO.png' %} "></a>
    <div class="nav-links" id="navLinks">
      <i class="fa fa-times" onclick="hideMenu()"></i>
      <ul>
        <li><a href="{% url 'home' %}">Home</a> </li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'create_event' %}">Create event</a> </li>
        <li><a href="{% url 'events' %}">Events</a> </li>
        <li><a href="{% url 'profiles' %}">Users</a> </li>
        <li class="last-item">Logged in as: <i>{{ request.user.email }} </i><a href="{% url 'logout' %}"> Logout </a></li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li class="last-item"><a href="{% url 'login' %}">Login/Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

<div class="text-box321">
  <h1>Best side for your events</h1>
  <p>Create your own Event to let everybody knows or find your dream event and enjoy it.
  <br>Best place to meet with people.</p>
  <a href="" class="visit-btn">Visit Us to know more</a>
</div>
</section>