<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add a new event </title> <!-- bude se menit dynamicky -->
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<header> Event project </header>

<nav>
    <ul>
        <li><a href="/"> Home </a> </li>
        <li><a href="/"> Add a new event </a> </li> <!-- Only if logged in -->
        <li><a href="/"> Event list </a> </li> <!-- Only if logged in -->
        <li class="last-item"><a href="/"> Log in / Sign up </a> </li>
    </ul>
</nav>

<main>
    <div class="add-event-form"> <!-- was: class="create-room-form" -->
        <form action="" method="POST">
            <div class="form-name">
                <div class="label">
                    <label for="name"> Title of the event: </label>
                </div>
                    <input type="text" name="name" id="name" placeholder="Title of the new event."> <br>
                <div class="label">
                    <label for="date-from"> Date from: </label>
                </div>
                    <input type="text" name="date-from" id="date-from" placeholder="Date from."> <br>
                <div class="label">
                    <label for="date-to"> Date to: </label>
                </div>
                    <input type="text" name="date-to" id="date-to" placeholder="Date to."> <br>
                <div class="label">
                    <label for="description"> Description: </label>
                </div>
            </div>
            <div>
                <textarea name="description" id="description" rows="4" cols="100" placeholder="(the minimum is 20 characters)"></textarea> <br>
            </div>
            <div class="submit">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</main>

</body>
</html>