{% extends 'main.html' %}

{% block title %}Create new event{% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"> <br>
    <label for="descr">Description:</label>
    <input type="text" name="descr" id="descr"> <br>

    <label for="start">Start Date:</label> <!-- TODO opravit -->
    <input type="date" name="start" id="start"> <br>
    <label for="end">End Date:</label>
    <input type="date" name="end" id="end"> <br> <!-- TODO opravit -->

    <button type="submit">Create</button>
  </form>
{% endblock %}