{% extends 'main.html' %}

{% load static %}

{% block title %}Delete event{% endblock %}

{% block content %}
    Do you really want to delete event <b>{{ event.name }}</b>, which include {{ comment_count }} comment/s ?
    <div class="yes">
        <a href="{% url 'delete_event_yes' event.id %}">Yes</a>
    </div>
    <div class="no">
        <a href="{% url 'events' %}">No</a>
    </div>

<section class="footer">
    <h4> ABOUT US </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</section>
{% endblock %}