{% extends 'main.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}
  <table>{{ form }}</table>
  <button type="submit">Submit</button>
</form>

<section class="footer">
    <h4> ABOUT US </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</section>
{% endblock %}
