{% extends 'main.html' %}

{% load static %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="list-of-events">List of events:</div>
    <div class="events-list">
            {% for event in events %}
            <ul>
                <li>
                {% if event.host %}
                    Host: <b>{{ event.host }}</b> <br>
                {% endif %}
                Title of the event: <b><a href="{% url 'event' event.id %}">{{ event.name }}</a></b> <br>
                Location: <b> {{ event.location }} </b> <br>
                  <div class="event_date">
                    Start of event: <b>{{ event.start_event }} --- </b>
                    End of event: <b>{{ event.end_event }}</b> <br>
                  </div>
                {{ event.description|slice:"0:50" }} <br>
                {% if event.comments_count > 0 %}
                    ({{ event.comments_count }} comments, last comment date: {{ event.last_comment_time }})
                {% else %}
                    (no comment yet)
                {% endif %} <br>
                {% if request.user not in event.participants.all %}
                  <a href="{% url 'join_event' event.id request.user.id %}">Join</a>
                {% endif %}
                {% if request.user in event.participants.all %}
                  <a href="{% url 'unjoin_event' event.id request.user.id %}">Unjoin</a>
                {% endif %}
                {% if event.host.id == request.user.id %}  <!-- Pokud je přihlášený uživatel "majitel" místnosti -->
                  or  <a href="{% url 'edit_event' event.id %}"> edit </a>
                  or  <a href="{% url 'delete_event' event.id %}">
                            <img src="{% static 'event/cross.png' %}" alt='delete' width="12px"></a>

                 {% elif admin %}  <!-- Pokud je přihlášený uživatel "majitel" místnosti -->
                  or <a href="{% url 'edit_event' event.id %}"> edit </a>
                  or <a href="{% url 'delete_event' event.id %}">
                            <img src="{% static 'event/cross.png' %}" alt='delete' width="12px"></a>
                {% endif %}
                </li>
            </ul>
            {% endfor %}
    </div>
{% endblock %}
