{% extends 'main.html' %}

{% load static %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="list-of-rooms">List of events:</div>
    <div class="rooms-list">
        <ul>
            {% for event in events %}
            <li>
                <a href="{% url 'event' event.id %}">{{ event.name }}</a> {{ event.description }}
                {% if event.host %}
                    Host: {{ event.host }}
                    {% if event.host.id == request.user.id %}  <!-- Pokud je přihlášený uživatel "majitel" Eventu -->
                        <a href="{% url 'delete_event' event.id %}">
                            <img src="{% static 'event/cross.png' %}" alt='delete' width="12px"></a>
                        <a href="{% url 'edit_event' event.id %}">🖉</a>
                    {% endif %}
                {% endif %}
                {% if event.comments_count > 0 %}
                    ({{ event.comments_count }} comments, last comment date: {{ event.last_comment_time }})
                {% else %}
                    (no comment yet)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
