{% extends 'main.html' %}

{% block title %}Event: {{ event.name }}{% endblock %}

{% block content %}
    <div class="room-descr">
        You are in event <b>{{ event.name }}</b> <br>
        Description: {{ event.description }}
    </div>

    <div class="comment-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Comment: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="file" name="upload" accept="*">  <!-- accept=".doc, .pdf, .txt", vsechno-->
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="comments-box">
        {% for comment in comments %}
            {% if comment.user == request.user %}
                <div class="my-comment">
                    <div class="my-comment-info">
                        <span class="comment-user">{{ comment.user }}</span>
                        <span class="comment-time">{{ comment.created }}</span>
                    </div>
                    <div class="my-comment-body">{{ comment.body }}</div>
                    {% if comment.file %}
                        <div class="my-comment-file">
                            <a href="{{ comment.file }}" target="_blank"><img src="{{ comment.file }}" width="50px"></a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="other-comment">
                    <div class="other-comment-info">
                        <span class="comment-user">{{ comment.user }}</span>
                        <span class="comment-time">{{ comment.created }}</span>
                    </div>
                    <div class="other-comment-body">{{ comment.body }}</div>
                    {% if comment.file %}  <!-- zobrazit obrázek -->
                        <div class="other-comment-file">
                            <a href="{{ comment.file }}" target="_blank"><img src="{{ comment.file }}" width="50px"></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}