{% extends 'main.html' %}

{% block title %}Event: {{ room.name }}{% endblock %}

{% block content %}
    <div class="room-descr">
        You are in event <b>{{ event.name }}</b> <br>
        Description: {{ event.description }}
    </div>

    <div class="message-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="file" name="upload" accept="*">  <!-- accept=".doc, .pdf, .txt", vsechno-->
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}