{% extends 'main.html' %}

{% block title %}Event: {{ event.name }}{% endblock %}

{% block content %}
    <div class="event-descr">
        You are in event <b>{{ event.name }}</b> <br>
        Description: {{ event.description }} <br>
        {% if event.file %}
            <div class="create_event-file">
                <a href="{{ event.file }}" target="_blank"><img src="{{ event.file }}" width="50px"></a>
            </div>
        {% endif %}
    </div>

    <a href="{% url 'join_event' event.id request.user.id %}">Join</a>
    <div>
    Participants:
    {% for participant in event.participants.all %}
        {{ participant }}
    {% endfor %}
    </div>

    <div class="event_date">
        Start of event: <b>{{ event.start_event }}</b> <br>
        End of event: <b>{{ event.end_event }}</b> <br>
    </div>

    <div class="comment-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Comment: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <br>
            You can upload an image file here: <input type="file" name="upload" accept="image/*">
            <!-- accept = * == ".doc, .pdf, ... == everything-->
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="comments-box">
        {% for comment in comments %}
            {% if comment.user == request.user %}
                <div class="my-comment">
                    <div class="my-comment-info">
                        <span class="comment-user">{{ comment.user }}</span>
                        <span class="comment-time">{{ comment.created }}</span>
                    </div>
                    <div class="my-comment-body">{{ comment.body }}</div>
                    {% if comment.file %}
                        <div class="my-comment-file">
                            <a href="{{ comment.file }}" target="_blank"><img src="{{ comment.file }}" width="50px"></a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="other-comment">
                    <div class="other-comment-info">
                        <span class="comment-user">{{ comment.user }}</span>
                        <span class="comment-time">{{ comment.created }}</span>
                    </div>
                    <div class="other-comment-body">{{ comment.body }}</div>
                    {% if comment.file %}  <!-- to show a picture -->
                        <div class="other-comment-file">
                            <a href="{{ comment.file }}" target="_blank"><img src="{{ comment.file }}" width="50px"></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}