{% extends 'main.html' %}

{% load static %}

{% block title %}Events{% endblock %}

{% block content %}
  <div class="list-of-events">List of events:</div>
  <div class="events-list">
    {% for event in events %}
      <ul>
        <li>
            {% if event.host %}
                Host: <b>{{ event.host }}</b> <br>
            {% endif %}
            <b><a href="{% url 'event' event.id %}">{{ event.name }}</a></b> <br>
            <div class="event_date">
              Start of event: <b>{{ event.start_event }}</b> <br>
              End of event: <b>{{ event.end_event }}</b> <br>
            </div>
            {{ event.description|slice:"0:50" }} <br>
            {% if event.comments_count > 0 %}
              ({{ event.comments_count }} comments, last comment date: {{ event.last_comment_time }})
            {% else %}
              (no comment yet)
            {% endif %} <br>
            <a href="{% url 'join_event' event.id request.user.id %}">Join</a>
            {% if event.host.id == request.user.id %}  <!-- Pokud je přihlášený uživatel "majitel" místnosti -->
              <a href="{% url 'edit_event' event.id %}">🖉</a>
              <a href="{% url 'delete_event' event.id %}">
                <img src="{% static 'event/cross.png' %}" alt='delete' width="12px"></a>
            {% endif %}
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
