<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Event list </title> <!-- bude se menit dynamicky -->
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<header> Event project </header>

<nav>
    <ul>
        <li><a href="/"> Home </a> </li>
        <li><a href="/"> Add a new event </a> </li> <!-- Only if logged in -->
        <li><a href="/"> Event list </a> </li> <!-- Only if logged in -->
        <li class="last-item"><a href="/"> Log in / Sign up </a> </li>
    </ul>
</nav>

<main>
    <div class="list-of-events"> List of events: </div> <!-- was: class="list-of-rooms" -->
    <div class="events-list"> <!-- was: class="rooms-list" -->
        <ul>
            <li><a href="event.html"> Event title 1 </a> Description: popis udalosti, 
                Date from: ... , Date to: ...
            </li>
            <li><a href="event.html"> Event title 2 </a> Description: popis udalosti, 
                Date from: ... , Date to: ...         
            </li>
            <li><a href="event.html"> Event title 3 </a> Description: popis udalosti, 
                Date from: ... , Date to: ...            
            </li>
            <li><a href="event.html"> Event title 4 </a> Description: popis udalosti, 
                Date from: ... , Date to: ...            
            </li>
        </ul>
    </div>

</main>

</body>
</html>