<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title> Log-in page </title> &lt;!&ndash; bude se menit dynamicky&ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'event/style.css' %}"/>-->
<!--</head>-->
<!--<body>-->

<!--<header> Event project </header>-->

<!--<nav>-->
<!--    <ul>-->
<!--        <li><a href="/"> Home </a> </li>-->
<!--        <li><a href="/"> Add a new event </a> </li> &lt;!&ndash; Only if logged in &ndash;&gt;-->
<!--        <li><a href="/"> Event list </a> </li> &lt;!&ndash; Only if logged in &ndash;&gt;-->
<!--        <li class="last-item"><a href="/"> Log in / Sign up </a> </li>-->
<!--    </ul>-->
<!--</nav>-->

<!--<main>-->
<!--    <div class="login-form">-->
<!--        <form action="" method="POST">-->
<!--            <div class="form-row">-->
<!--                <div class="label">-->
<!--                    <label for="login"> login (email): </label>-->
<!--                </div>-->
<!--                <input type="text" name="login" id="login" placeholder="your login (email)">-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="label">-->
<!--                    <label for="pswd"> Password: </label>-->
<!--                </div>-->
<!--                <input type="password" name="pswd" id="pswd">-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <input type="submit" value="Send">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--</main>-->

<!--<div class="box">-->
<!--    You can sign up for free here: <a href="{% url 'signup' %}"> Sign Up </a>.-->
<!--</div>-->

<!--</body>-->
<!--</html>-->