<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Sign up page </title> <!-- bude se menit dynamicky -->
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<header> Event project </header>

<nav>
    <ul>
        <li><a href="/"> Home </a> </li>
        <li><a href="/"> Add a new event </a> </li> <!-- Only if logged in -->
        <li><a href="/"> Event list </a> </li> <!-- Only if logged in -->
        <li class="last-item"><a href="/"> Log in / Sign up </a> </li>
    </ul>
</nav>

<main>
    <div class="login-form">
        <form action="" method="POST">
            <div class="form-row">
                <div class="label">
                    <label for="login"> login (email): </label> <!-- was: for="nick" -->
                </div>
                <input type="text" name="login" id="login" placeholder="login (email)"> <!-- was: name="nick" id="nick" -->
            </div>
            <div class="form-row">
                <div class="label">
                    <label for="pswd"> Password: </label>
                </div>
                <input type="password" name="pswd" id="pswd">
            </div>
            <div class="form-row">
                <div class="label">
                    <label for="repswd"> Password: </label>
                </div>
                <input type="password" name="repswd" id="repswd">
            </div>
            <div class="form-row">
                <div class="label">
                    <label for="nick"> Your name to display (nick): </label>
                </div>
                <input type="text" name="nick" id="nick" placeholder="Your name to display (nick), the maximum length is 50 characters.">
            </div>
            <div class="form-row">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>


</main>

</body>
</html>